* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
}

main {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #141922;
  display: flex;
}

.text_center {
  text-align: center;
}

.text_uppercase {
  text-transform: uppercase;
}

.color_white {
  color: #fff;
}

.color_grey {
  color: #666666;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #666666;
}

h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

p {
  color: #666666;
}

.btn_general {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 15px;
}
/* aside */
.aside_left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  background-color: #000;
}

.box_logo {
  margin-bottom: 10px;
    padding-left: 30px;
}

.logo_large {
  height: 40px;
  margin-top: 20px;
}

.logo_small {
  display: none;
}

.nav_top {
  margin-bottom: 15px;
}

.list_nav li {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.list_nav li:hover {
  border-left: 2px solid lime;
}

.list_nav a {
  display: flex;
  align-items: center;
  fill: #666666;
  margin-left: 30px;
}

.list_nav svg {
  height: 22px;
  margin-right: 8px;
}

.list_nav a:hover  {
  color: #fff;
  fill: #fff;
}

.create_playlist {
  margin: 10px 0;
  padding-left: 30px;
}

.create_playlist:hover .button_playlist i,
.create_playlist:hover .button_playlist button {
  color: #fff;
}

.button_playlist {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.button_playlist button {
  font-size: 15px;
}

.button_playlist i {
  font-size: 35px;
  margin-right: 15px;
}

.playlist_name li {
  margin-bottom: 10px;
  overflow: auto;
}

.playlist_name a:hover {
  color: #fff;
}

.box_playlist {
  overflow-y: auto;
  margin: 12px 0;
  height: 100%;
  padding-left: 30px;
}

.playlist_name li {
  margin-bottom: 15px;
}

.box_account {
  padding-bottom: 15px;
  padding-left: 30px;
}

.box_account hr {
  margin: 10px 0;
  width: 90%;
  border-color: grey;
}

.download_app i {
  font-size: 16px;
  margin-right: 10px;
}

.download_app,
.users_login {
  display: flex;
  align-items: center;
}

.download_app:hover button,
.download_app:hover i {
  color: #fff;
}

.users_login i {
  font-size: 25px;
  margin-right: 10px;
}

.users_login button:hover {
  color: lightgrey;
}
/* /aside */
/* section button upgrade */
#upgrade {
 position: fixed;
 top: 0;
 right: 0;
 display: flex;
 align-items: center;
 justify-content: flex-end;
 height: 100px;
 width: calc(100% - 230px);
 background-color: rgba(0, 0, 0, 0.6);
}

.btn_upgrade {
  background: none;
  outline: none;
  padding: 12px 35px;
  border-radius: 20px;
  border-color: #fff;
  text-transform: uppercase;
  margin-right: 50px;
  cursor: pointer;
  font-weight: 700;
}

.btn_upgrade:hover {
  transition: 0.5s;
  transform: scale(1.1, 1.1);
}
/* /section button upgrade */
/* prima riga album */
#album {
 height: calc(100% - 100px);
 width: calc(100% - 300px);
 overflow: auto;
 margin-top: 100px;
 padding-left: 20px;
}

#album::-webkit-scrollbar {
  width: 6px;
}

#album::-webkit-scrollbar-thumb,
#album::-webkit-scrollbar-button {
  background-color: #666666;
  border-radius: 10px;
}

/* lista navigazione top */

.list_main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list_main li {
  padding: 30px 20px;
}

.list_main a {
  font-size: 16px;
  text-transform: uppercase;
}

.list_main li:after {
 content: '';
 display: block;
 margin: 5px auto;
 height: 3px;
 width: 0px;
 background: transparent;
 transition: width 0.5s ease, background-color 0.5s ease;
}

.list_main li:hover:after {
 width: 40%;
 background: lime;
}
/* /lista navigazione top */

/* copertine album */

.container_copertine {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 30px 0;
}

.box_copertina {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 20px;
}

.taglia {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.taglia_2 {
  -webkit-line-clamp: 2;
}

.no_space {
  display: flex;
  justify-content: flex-start;
}

.title_section {
  margin-left: 10px;
}

.img_album {
  height: 230px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: calc(100% - 15px);
}

.img_album img {
  height: 230px;
  margin-right: 15px;
}

.info_album {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
}

.info_album h4 {
  margin-bottom: 5px;
}

.overlay::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay:hover::after {
  background-color: rgba(0,0,0, 0.5);
  background-image: url("../img/play-button.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 50% 50%;
}

.img_radius {
  border-radius: 50% 50%;
}

.overlay_radius::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50% 50%;
}

.overlay_radius:hover::after {
  background-color: rgba(0,0,0, 0.5);
  background-image: url("../img/play-button.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 50% 50%;
}
/* /copertine e album */
/* footer */
footer {
  position: relative;
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #282828;
  justify-content: space-between;
}

.box_sinistro {
  padding-left: 10px;
  font-size: 15px;
  width: 25%;
}

.box_sinistro,
.box_icon_footer,
.list_player,
.box_destro {
  display: flex;
  align-items: center;
}

.artist_song_name {
  padding-left: 10px;
}
.artist_song_name h5 {
  margin-bottom: 5px;
}

.box_sinistro img {
  height: 50px;
}

.box_icon_footer {
  padding-left: 30px;
}

.box_icon_footer i {
  margin-right: 10px;
  font-size: 18px;
}

.heart i:hover {
  color: #F56A6A;
}

.folder i:hover {
  color: #fff;
}

/* icone player */

.box_icon_player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  width: 50%;
}

.player_buttons {
  display: flex;
  align-items: center;
}

.player_buttons button {
  margin: 0 10px;
}

.other_buttons {
 font-size: 15px;
}

.other_buttons:hover {
  transition: 0.5s;
  transform: scale(1.3, 1.3);
}

.button_play {
  font-size: 40px;
  margin: 0 15px;
}

.button_play:hover {
  transition: 0.5s;
  transform: scale(1.1, 1.1);
}

.buttons_arrow {
  font-size: 30px;
}

.buttons_arrow:hover {
  transition: 0.5s;
  transform: scale(1.4, 1.4);
}

/* /icone player */

.box_destro {
  width: 25%;
  justify-content: flex-end;
  margin-right: 15px;
}

.box_destro i {
  padding: 0 8px;
  font-size: 15px;
}

/* barra scorrimento */
.box_bar {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar {
  border-radius: 10px;
  height: 5px;
  background-color: grey;
}

.circle {
  display:none;
  cursor: pointer;
}

.scorrimento {
  margin: 15px;
  width: 60%;
}

.scor_width {
  height:100%;
  width: 10%;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.scor_width:hover .circle,
.vol_width:hover .circle {
  display: block;
}

.scor_width:hover,
.vol_width:hover {
  background-color: lightgreen;
}

.volume {
  margin-left: 3px;
  width: 30%;
}

.vol_width {
 height:100%;
 width: 20%;
 background-color: lightgrey;
 display: flex;
 align-items: center;
 justify-content: flex-start;
}
/* /barra scorrimento */
/* footer */

/* RESPONSIVE */
/* DESKTOP */
@media screen and (min-width:992px) and (max-width:1200px) {
  /* aside */
  .logo_small {
    display: none;
  }
  /* /aside */
}

/* TABLLET */
@media screen and (min-width:768px) and (max-width:991px) {
  /* main */
  /* aside */
  .aside_left {
    width: 200px;
  }

  .logo_small {
    display: none;
  }
  /* /aside */
  /* content */
  #upgrade {
    width: calc(100% - 200px);
  }

  #album {
    width: calc(100% - 200px);
  }
  /* content */
  /* /main */
  /* footer */
  .box_icon_footer {
    flex-direction: column;
    padding-left: 20px;
  }

  .box_icon_footer i {
    padding: 5px 0;
    font-size: 16px;
  }

  .box_sinistro img {
    height: 40px;
  }

  .artist_song_name {
    font-size: 13px;
  }


  /* /footer */
}

/* SMARTPHONE */
@media screen and (max-width:767px) {
  /* main */
  /* aside */
  .aside_left {
    position: relative;
    width: 90px;
    align-items: center;
  }

  .box_logo {
    padding-left: 0px;
  }

  .logo_large {
    display: none;
  }

 .logo_small {
   margin: 10px 0;
   height: 40px;
   display: block;
   color: #fff;
 }

 .list_nav a {
  display: visible;
  color: #fff;
  height: 25px;
  margin-left: 0px;
 }

 .list_nav li {
   margin-bottom: 5px;
 }

 .list_nav svg {
   margin-right: 0px
 }

 .list_nav li:hover {
   border: 0px;
   border-bottom: 2px solid lime;
 }

 .list_nav span,
 .create_playlist,
 .box_playlist,
 .download_app button,
 .box_account hr,
 .users_login button {
   display: none;
 }

 .box_account {
   position:absolute;
   bottom:0;
   padding-left: 0px;
 }

 .download_app,
 .users_login  {
   display: flex;
   flex-direction: column;
   padding: 5px 0;
   margin-left: 10px;
 }

 .users_login i {
   font-size: 30px;
 }

 .download_app i {
   font-size: 20px;
 }

 .download_app i:hover,
 .users_login i:hover {
   color: #fff;
 }
 /* /aside */
 /* content */
 #upgrade {
   width: calc(100% - 90px);
 }

 #album {
   width: calc(100% - 90px);
 }
 
  .title_section {
  text-align: center;
  }

  .box_copertina {
    margin: 10px auto;
  }
  /* /content */
 /* /main */
 /* footer */

 .box_sinistro img {
   height: 35px;
 }

 .artist_song_name {
   font-size: 12px;
 }
  .box_icon_footer {
    flex-direction: column;
    padding-left: 10px;
  }

  .box_icon_footer i {
    padding: 5px 0;
    font-size: 15px;
  }

  .box_icon_player {
    width: 80%;
  }

  .other_buttons {
    font-size: 12px;
  }

  .button_play {
    font-size: 35px;
  }

  .buttons_arrow {
    font-size: 25px;
  }

  .box_bar span {
    font-size: 10px;
  }

  .scorrimento {
    width: 40%;
  }

  .box_destro {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 5%;
  }

  .box_destro i {
    padding: 6px 0;
  }

  .volume {
    display: none;
  }

  /* /footer */

}
