* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
}

main {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #141922;
}

.text_center {
  text-align: center;
}

.text_uppercase {
  text-transform: uppercase;
}

.color_white {
  color: #fff;
}

.color_grey {
  color: #666666;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #666666;
}

a:hover {
 color: #fff;
}

.btn_aside {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 15px;
}
/* aside */
.aside_left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 230px;
  background-color: #000;
  padding-left: 30px;
}

.box_logo {
  margin-bottom: 10px;
}

.logo_large {
  height: 40px;
  margin-top: 20px;
}

.logo_small {
  display: none;
}

.nav_top {
  margin-bottom: 15px;
}

.list_nav li {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.list_nav svg {
  height: 22px;
  margin-right: 8px;
}

.create_playlist {
  margin: 10px 0;
}

.button_playlist {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.box_playlist:hover a {
  color: #fff;
}

.button_playlist button:hover {
  color: #fff;
}

.button_playlist i:hover {
  color: green;
  cursor: pointer;
}

.button_playlist button {
  font-size: 15px;
}

.button_playlist i {
  font-size: 35px;
  margin-right: 15px;
}

.playlist_name li {
  margin-bottom: 10px;
  overflow: auto;
}

.box_playlist {
  overflow-y: auto;
  margin: 12px 0;
  height: 100%;
}

.playlist_name li {
  margin-bottom: 15px;
}

.box_account {
  padding-bottom: 15px;
}

.box_account hr {
  margin: 10px 0;
  width: 90%;
  border-color: grey;
}

.download_app i {
  font-size: 16px;
  margin-right: 10px;
}

.download_app,
.users_login {
  display: flex;
  align-items: center;
}

.users_login i {
  font-size: 25px;
  margin-right: 10px;
}

.download_app button:hover {
  color: #fff;
}

.users_login button:hover {
  color: lightgrey;
}
/* /aside */
/* footer */
footer {
  position: relative;
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #282828;
  justify-content: space-between;
  align-items: center;
}

.box_sinistro {
  padding-left: 10px;
  font-size: 15px;
}

.box_sinistro,
.box_icon_footer,
.list_player,
.box_destro {
  display: flex;
  align-items: center;
}

.artist_song_name {
  padding-left: 10px;
}

.box_sinistro img {
  height: 50px;
}

.box_icon_footer {
  padding-left: 50px;
}

.box_icon_footer i {
  margin-right: 10px;
  font-size: 18px;
}
/* icone player */

.box_icon_player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list_player li {
  margin: 0 10px;
}

.other_buttons {
 font-size: 15px;
}

.button_play {
  font-size: 40px;
  margin: 0 15px;
}

.button_arrow {
  font-size: 30px;
}

.bar {
  border-radius: 10px;
  height: 3px;
  background-color: grey;
}

.scorrimento {
  display: flex;
  width: 400px;
  margin: 20px 0;
}

.box_destro {
  padding-right: 10px;
}

.box_destro i {
  padding: 0 8px;
  font-size: 15px;
}

.volume {
  margin-left: 3px;
  width: 100px;
}

/* /icone player */
/* footer */

/* RESPONSIVE */
/* DESKTOP */
@media screen and (min-width:992px) and (max-width:1200px) {
  /* aside */
  .logo_small {
    display: none;
  }
  /* /aside */

}

/* TABLLET */
@media screen and (min-width:768px) and (max-width:991px) {
  /* aside */
  .logo_small {
    display: none;
  }
  /* /aside */
}

/* SMARTPHONE */
@media screen and (max-width:767px) {
  /* aside */
  .aside_left {
    position: relative;
    width: 90px;
    align-items: center;
    padding:0;
  }

  .logo_large {
    display: none;
  }

 .logo_small {
   margin: 10px 0;
   height: 40px;
   display: block;
   color: #fff;
 }

 .list_nav svg {
  display: visible;
  color: #fff;
  height: 25px;
  margin-right: 0px;
 }

 .list_nav a,
 .create_playlist,
 .box_playlist,
 .download_app button,
 .box_account hr,
 .users_login button {
   display: none;
 }

 .box_account {
   position:absolute;
   bottom:0;
 }

 .download_app,
 .users_login  {
   display: flex;
   flex-direction: column;
   padding: 5px 0;
   margin-left: 10px;
 }

 .users_login i {
   font-size: 30px;
 }

 .download_app i {
   font-size: 20px;
 }

 .download_app i:hover,
 .users_login i:hover {
   color: #fff;
 }
 /* /aside */
/* footer */
.box_icon_player {
  width: 20%;
}

}
